@model _001JIMCV.Models.Classes.Service

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Mon formulaire</title>
    <link href="/css/Forms.css" rel="stylesheet" />
</head>
<body>
    @using (Html.BeginForm("SubmitServiceProposal", "Proposition", FormMethod.Post))
    {
        <fieldset>
            <div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Pays)<br>
                    @Html.TextBoxFor(m => m.Pays, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(m => m.Pays)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Ville)<br>
                    @Html.TextBoxFor(m => m.Ville, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(m => m.Ville)
                </div>

                <span class="form-group">
                    @Html.LabelFor(m => m.Type) <br>
                    <label class="form-control">
                        @Html.RadioButtonFor(m => m.Type, "Hebergement", new { required = "required" }) Hebergement
                    </label>
                </span>
                <div class="form-group">
                    <label class="form-control">
                        @Html.RadioButtonFor(m => m.Type, "Restauration", new { required = "required" }) Restauration
                    </label>
                </div>
                <div class="form-group">
                    <label class="form-control">
                        @Html.RadioButtonFor(m => m.Type, "Activité", new { required = "required" }) Activité
                    </label>
                </div>
                <div class="form-group">
                    <label class="form-control">
                        @Html.RadioButtonFor(m => m.Type, "Circuit", new { required = "required" }) Circuit
                    </label>
                </div>
                <div class="form-group">
                    <label class="form-control">
                        @Html.RadioButtonFor(m => m.Type, "Autre", new { required = "required" }) Autre:<br>
                        @Html.TextBoxFor(m => m.Type)
                    </label>
                    @Html.ValidationMessageFor(m => m.Type)
                </div><br>
            </div>
            <br />

            <br>
            <div class="form-group" style="text-align: center;">
                
                <input type="submit" value="Enregistrer" class="btn btn-primary" required="required" />
            </div>
        </fieldset>
    }
</body>
</html>


