@model List<_001JIMCV.Models.Classes.OtherProposition>
@{
    Layout = "_LayoutJimcv";
}

@section ExtraCss{
    <link rel="stylesheet" type="text/css" href="~/Css/Table.css" link />
}

<br />

<table>
    <tr>
        <th>Nom partenaire</th>
        <th>Adresse Email</th>
        <th>Pays</th>
        <th>Ville</th>
        <th>Titre</th>
        <th>Description</th>
        <th>Disponibilité</th>
        <th>Programme</th>
        <th>Hébergement</th>
        <th>Activités</th>
        <th>Restauration</th>
        <th>Prix</th>
        <th>Statut</th>
        <th>Modifier</th>
        <th>Supprimer</th>
    </tr>


    @foreach (_001JIMCV.Models.Classes.OtherProposition otherProposition in ViewData["OtherPropositions"] as List<_001JIMCV.Models.Classes.OtherProposition>)
    {
        <tr>
            <td>@otherProposition.ProviderName</td>
            <td>@otherProposition.ProviderEmail</td>
            <td>@otherProposition.Country</td>
            <td>@otherProposition.City</td>
            <td>@otherProposition.Name</td>
            <td>@otherProposition.Description</td>
            <td>@otherProposition.Disponibility</td>
            <td>@otherProposition.Program</td>
            <td>@otherProposition.Accommodation</td>
            <td>@otherProposition.Activities</td>
            <td>@otherProposition.Restauration</td>
            <td>@otherProposition.Price</td>
            <td>@otherProposition.Status</td>
            <td>
                <form action="@Url.Action("EditOtherProposition", "Proposition", new { id = otherProposition.Id })" method="get">
                    <button type="submit">Modifier</button>
                </form>
            </td>
            <td>
                <form action="@Url.Action("DeleteOtherProposition", "Proposition", new { id = otherProposition.Id })" method="post">
                    <button type="submit">Supprimer</button>
                </form>
            </td>
        </tr>
    }
</table>
<br />
<br />
<button>@Html.ActionLink("Ajouter", "OtherPropForm", "Proposition")</button>
