@model _001JIMCV.Models.Classes.OtherProposition
@{
    var countries = Enum.GetValues(typeof(_001JIMCV.Models.Classes.Enum.CountryEnum))
    .Cast<_001JIMCV.Models.Classes.Enum.CountryEnum>()
    .Select(e => new SelectListItem
            {
                Value = e.ToString(),
                Text = e.ToString()
            })
    .ToList();
    Layout = "_LayoutJimcv";
}

<div style="display:flex; justify-content:space-between; align-items:center; flex-direction: column">
    <h2>
        Vous avez une proposition globale de votre activité sur place ? Détaillez votre offre par ici !
    </h2>

</div>
<br />

@using (Html.BeginForm("CreateOtherProposition", "Proposition", FormMethod.Post))
    {
        <fieldset>
        <div style="display:flex; justify-content:space-between; align-items:center; flex-direction: column">
        <div>
            @Html.LabelFor(m => m.ProviderName, "Nom partenaire")
            @Html.TextBoxFor(m => m.ProviderName)
            @Html.ValidationMessageFor(m => m.ProviderName)
        </div>
        <br/>
        <div>
            @Html.LabelFor(m => m.ProviderEmail, "Adresse email")
            @Html.TextBoxFor(m => m.ProviderEmail)
            @Html.ValidationMessageFor(m => m.ProviderEmail)
        </div>
            <br />
        <div>
            @Html.LabelFor(m => m.Country, "Pays")<br>
            @Html.DropDownListFor(m => m.Country, new SelectList(countries, "Value", "Text"), "-- Sélectionner --", new { required = "required" })
            @Html.ValidationMessageFor(m => m.Country)
        </div>
        <br/>
        <div>
            @Html.LabelFor(m => m.City, "Ville")<br>
            @Html.TextBoxFor(m => m.City, new {required = "required" })
            @Html.ValidationMessageFor(m => m.City)
        </div>
            <br />
        <div>
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name)
            @Html.ValidationMessageFor(m => m.Name)
        </div>
        <br/>
        <div>
            @Html.LabelFor(m => m.Disponibility, "Disponibilité")
            @Html.TextBoxFor(m => m.Disponibility)
            @Html.ValidationMessageFor(m => m.Disponibility)
        </div>
        <br/>

        <div class="form-group">
            @Html.LabelFor(m => m.Description)
            @Html.TextAreaFor(m => m.Description)
        </div>
            <br />
        <div class="form-group">
            @Html.LabelFor(m => m.Image)
            @Html.TextBoxFor(m => m.Image, new { @type = "file", @class = "form-control-file" })
            @Html.ValidationMessageFor(m => m.Image)
        </div>
        <br/>
        <br/>
        <div class="form-group">
            <input type="submit" value="Enregistrer" class="btn btn-primary" />
        </div>
     </div>
    </fieldset>
}

