@model _001JIMCV.Models.Classes.Tour

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Mon formulaire</title>
    <link href="/css/Forms.css" rel="stylesheet" />
</head>
<body>
    @using (Html.BeginForm("SubmitServiceProposal", "Proposition", FormMethod.Post))
    {
        <fieldset>
            <div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Pays)<br>
                    @Html.TextBoxFor(m => m.Pays, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(m => m.Pays)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Ville)<br>
                    @Html.TextBoxFor(m => m.Ville, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(m => m.Ville)
                </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Titre)
            @Html.TextBoxFor(m => m.Titre, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Titre)
        </div>
        <br>
        <div class="form-group">
            @Html.LabelFor(m => m.Disponibilite)
            @Html.TextBoxFor(m => m.Disponibilite, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Titre)
        </div>
        <br>


        <div class="form-group">
            @Html.LabelFor(m => m.Description)
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
        </div>
        <br>

        <div class="form-group">
            @Html.LabelFor(m => m.Programme)
            @Html.TextAreaFor(m => m.Programme, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Programme)
        </div>
        <br>

        <div class="form-group">
            @Html.LabelFor(m => m.Hebergement)
            @Html.TextAreaFor(m => m.Hebergement, new { @class = "form-control" })
        </div>
        <br>

        <div class="form-group">
            @Html.LabelFor(m => m.Activites)
            @Html.TextAreaFor(m => m.Activites, new { @class = "form-control" })
        </div>
        <br>

        <div class="form-group">
            @Html.LabelFor(m => m.Restauration)
            @Html.TextAreaFor(m => m.Restauration, new { @class = "form-control" })
        </div>
        <br>
        <div class="form-group">
            @Html.LabelFor(m => m.Prix)
            @Html.TextBoxFor(m => m.Prix, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Prix)
        </div>
        <br>

        <div class="form-group">
            <input type="submit" value="Enregistrer" class="btn btn-primary" />
        </div>
    </fieldset>
}
</body>
</html>
