@model List<_001JIMCV.Models.Classes.Restauration>
@{
    Layout = "_LayoutJimcv";
}

@section ExtraCss{
    <link rel="stylesheet" type="text/css" href="~/Css/Table.css" link />
}
<br />

<table>
    <tr>
        <th>Nom partenaire</th>
        <th>Adresse Email</th>
        <th>Pays</th>
        <th>Ville</th>
        <th>Type</th>
        <th>Description</th>
        <th>Localisation</th>
        <th>Menu</th>
        <th>Tarif</th>
        <th>Email de contact</th>
        <th>Modifier</th>
        <th>Supprimer</th>
    </tr>

    @foreach (_001JIMCV.Models.Classes.Restauration restauration in ViewData["Restaurations"] as List<_001JIMCV.Models.Classes.Restauration>)
    {
        <tr>
            
            <td>@restauration.ProviderName</td>
            <td>@restauration.ProviderEmail</td>
            <td>@restauration.Country</td>
            <td>@restauration.City</td>
            <td>@restauration.Type</td>
            <td>@restauration.Description</td>
            <td>@restauration.Adress</td>
            <td>@restauration.Menu</td>
            <td>@restauration.Price</td>
            <td>@restauration.Status</td>
            <td>
                <form action="@Url.Action("EditRestauration", "Restauration", new { id = restauration.Id })" method="get">
                    <button type="submit">Modifier</button>
                </form>
            </td>
            
            <td>
                <form action="@Url.Action("DeleteRestauration", "Restauration", new { id = restauration.Id })" method="post">
                    <button type="submit">Supprimer</button>
                </form>
            </td>
        </tr>
       
    }
</table>
<br />
<br />
<button>@Html.ActionLink("Ajouter", "RestaurationForm", "Restauration")</button>
