@model _001JIMCV.Models.Classes.Accommodation
@{
    Layout = "_LayoutJimcv";
}

@section ExtraCss{
    <link rel="stylesheet" type="text/css" href="~/Css/Table.css" link />
}

<br />

<table>
    <tr>
        <th>Nom du partenaire</th>
        <th>Adresse Email</th>
        <th>Pays</th>
        <th>Ville</th>
        <th>Type</th>
        <th>Nom</th>
        <th>Adresse</th>
        <th>Date de début</th>
        <th>Date de fin</th>
        <th>Prix</th>
        <th>Description</th>
        <th>Image</th>
        <th>Status</th>
        <th>Modifier</th>
        <th>Supprimer</th>
        
    </tr>
   
        @foreach (_001JIMCV.Models.Classes.Accommodation accommodation in ViewData["Accommodations"] as List<_001JIMCV.Models.Classes.Accommodation>)
    {
        <tr>
            <td>@accommodation.ProviderName </td>
            <td>@accommodation.ProviderEmail</td>
            <td>@accommodation.Country</td>
            <td>@accommodation.City</td>
            <td>@accommodation.Type</td>
            <td>@accommodation.Name</td>
            <td>@accommodation.Adress</td>
            <td>@accommodation.StartDate</td>
            <td>@accommodation.EndDate</td>
            <td>@accommodation.Price</td>
            <td>@accommodation.Description</td>
            <td>@accommodation.Image</td>
            <td>@accommodation.Status</td>
           
    
            <td>
                <form action="@Url.Action("EditAccommodation", "Accommodation", new { id = accommodation.Id })" method="get">
                    <button type="submit">Modifier</button>
                </form>
                </td>
            <td>
                <form action="@Url.Action("DeleteAccommodation", "Accommodation", new { id = accommodation.Id })" method="post">
                    <button type="submit">Supprimer</button>
                </form>
            </td>
        </tr>
    }
</table>
<br />
<br />
<button>@Html.ActionLink("Ajouter", "AccommodationForm", "Accommodation")</button>


