@model _001JIMCV.Models.Classes.Accommodation
@{
    Layout = "_LayoutJimcv";
}



<table border="1" style="width:60%">
    <tr>
        <th>Pays</th>
        <th>Ville</th>
        <th>Type</th>
        <th>Adresse</th>
        <th>De</th>
        <th>A</th>
        <th>Prix</th>
        <th>Description</th>
        <th>Status</th>
        
    </tr>
   
        @foreach (_001JIMCV.Models.Classes.Accommodation accommodation in ViewData["Accommodations"] as List<_001JIMCV.Models.Classes.Accommodation>)
    {
        <tr>
            <td>@accommodation.Pays</td>
            <td>@accommodation.Ville</td>
            <td>@accommodation.Type</td>
            <td>@accommodation.Adresse</td>
            <td>@accommodation.De</td>
            <td>@accommodation.A</td>
            <td>@accommodation.Prix</td>
            <td>@accommodation.Description</td>
            <td>@accommodation.Status</td>
    
            <td style="width: 60px;">
                <form action="@Url.Action("EditAccommodation", "Accommodation", new { id = accommodation.Id })" method="get">
                    <button type="submit">Modifier</button>
                </form>
                </td>
            <td style="width: 70px;">
                <form action="@Url.Action("DeleteAccommodation", "Accommodation", new { id = accommodation.Id })" method="post">
                    <button type="submit">Supprimer</button>
                </form>
            </td>
        </tr>
    }
</table>

