@{
    Layout = "_LayoutJimcv";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>India</title>
    <link href="~/css/Site.css" rel="stylesheet" />
    <style>
        #map {
            height: 350px;
            width: 100%;
            background-image: url("/images/JaponMap01.jpg");
            background-size: 100% auto;
            background-repeat: no-repeat;
            background-position: center;
        }

        #date-picker {
            width: 100%;
            height: 30px;
        }
    </style>
</head>
<body>
    <div id="map"></div>
    <br>
    @foreach (_001JIMCV.Models.Classes.Journey journey in ViewData["JaponJourneys"] as List<_001JIMCV.Models.Classes.Journey>)
    {
        <div class="container">
            <div class="photo"></div>
            <div class="container-content">
                <div class="container2">
                    <div id="description2" class="Texte1">
                        <span class="bloc">
                            @journey.CityDestination
                        </span>
                        <span class="bloc">
                            @journey.DepartureDate
                        </span>
                        <span class="bloc">
                            @journey.ReturnDate
                        </span>
                        <span class="bloc">
                            @journey.Price
                        </span>
                    </div>
                </div>
                <div class="container3">
                    @journey.Description
                </div>
            </div>
        </div>
        <br>
    }
    <input type="date" id="date-picker">

    <button onclick="window.location.href='/Home';">Retour à la page principale</button>

</body>
</html>