@{
    Layout = "_LayoutJimcv";
}
@section ExtraCss{
    <link rel="stylesheet" type="text/css" href="~/Css/FullPackage.css" link />
    <link rel="stylesheet" type="text/css" href="~/Css/Site.css" link />
}

    <br>
    <div class="map">
        <img src="/images/Japon/AcceuilJapon01t.jpg" />
    </div>
    <br>
    @foreach (_001JIMCV.Models.Classes.Journey journey in ViewData["JaponJourneys"] as List<_001JIMCV.Models.Classes.Journey>)
    {
        <div class="journey-container">
            <div class="journey-photo" style="background-image: url('@journey.ImagePath');"></div>
            <div class="journey-content">
            <div class="journey-details" style="display:flex; justify-content:space-between">
                <div>
                    <h4>Ville d'arrivée</h4>
                    <div>@journey.CityDestination</div>
                </div>
                <div>
                    <h4>Date de départ</h4>
                    <div>@journey.DepartureDate</div>
                </div>
                <div>
                    <h4>Date de Retour</h4>
                    <div>@journey.ReturnDate</div>
                </div>
                <div>
                    <h4>Prix</h4>
                    <div>@journey.Price</div>
                </div>



            </div>

            <div class="journey-description">
                @journey.Description
            </div>
            <div>
                <button onclick="window.location.href='@Url.Action("DisplayJourney","Journey",  new { @Id = journey.Id })'">Afficher les détails</button>
            </div>
        </div>
    </div>
    <br>
}
