@{
    Layout = "_LayoutJimcv";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mexique</title>
    <link href="~/css/Site.css" rel="stylesheet" />
    <style>
        #map {
            height: 350px;
            width: 100%;
            background-image: url("/images/Mexique/MexiqueMap01.jpg");
            background-size: 100% auto;
            background-repeat: no-repeat;
            background-position: center;
        }

        #date-picker {
            width: 100%;
            height: 30px;
        }

        .container {
            width: 100%;
            display: flex;
            align-items: flex-start;
            border: 1px solid red;
            padding: 0px;
        }

        .photo {
            width: calc(1/3 * 100%);
            background-image: url("/Images/Mexique/VoyageMexique02.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 300px;
            border: 1px solid red;
        }

        .photo2 {
            width: calc(1/3 * 100%);
            background-image: url("/Images/Mexique/VoyageMexique02.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 300px;
            border: 1px solid red;
        }

        .container-content {
            display: flex;
            flex-direction: column;
            width: calc(3/5 * 100%);
        }

        .container2,
        .container3 {
            width: 100%;
            border: 1px solid red;
            padding: 10px;
            margin-bottom: 10px;
            flex-grow: 1;
        }
    </style>
</head>
<body>
    <div id="map"></div>
    <br>
    @foreach (_001JIMCV.Models.Classes.Journey journey in ViewData["MexiqueJourneys"] as List<_001JIMCV.Models.Classes.Journey>)
    {
        <div class="container">
            <div class="photo"></div>
            <div class="container-content">
                <div class="container2">
                    <table>
                        <tr>
                            <th>Ville d'arrivée</th>
                            <th>Date de départ</th>
                            <th>Date de Retour</th>
                            <th>Prix</th>
                        </tr>
                        <tr>
                            <td>@journey.CityDestination</td>
                            <td>@journey.DepartureDate</td>
                            <td>@journey.ReturnDate</td>
                            <td>@journey.Price</td>
                        </tr>
                    </table>

                </div>
                <div class="container3">
                    @journey.Description
                </div>
            </div>
        </div>
        <br>
    }
    <input type="date" id="date-picker">

    <button onclick="window.location.href='/Home';">Retour à la page principale</button>

</body>
</html>