
@model _001JIMCV.Models.Classes.Service
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


@using (Html.BeginForm("CreateService", "Service"))
{
    <fieldset>
        <div>
            @Html.LabelFor(m => m.Type)
             <div class="form-control">
            @Html.LabelFor(m => m.Pays)<br>
                @Html.TextBoxFor(m => m.Pays)
            @Html.ValidationMessageFor(m => m.Pays)
        </div>
         <div class="form-control">
        <div>
            @Html.LabelFor(m => m.Ville)<br>
            @Html.TextBoxFor(m => m.Ville)
            @Html.ValidationMessageFor(m => m.Ville)<br>
        </div>
        </div>
             <div class="form-control">
                @Html.LabelFor(m => m.Date)<br>
                @Html.TextBoxFor(m => m.Date, new { @type="date" })
                @Html.ValidationMessageFor(m => m.Date)
            </div>
            <div>
                <label class="form-control">
                    @Html.RadioButtonFor(m => m.Type, "Hebergement")
                    Hebergement
                </label>
            </div>
            <div>
                <label class="form-control">
                    @Html.RadioButtonFor(m => m.Type, "Vol")
                    Vol
                </label>
            </div>
            <div class="form-control">
                <label class="form-check-label">
                    @Html.RadioButtonFor(m => m.Type, "Activité")
                    Activité
                </label>
            </div>
            @Html.ValidationMessageFor(m => m.Type)
        </div>
        <br />
        <div>
            @Html.LabelFor(m => m.Prix)<br>
            @Html.TextBoxFor(m => m.Prix)
            @Html.ValidationMessageFor(m => m.Prix)<br>
        </div>
        <br>
        <div class="form-control">
            <input type="submit" value="Enregistrer" class="btn btn-primary" />

        </div>
    </fieldset>
}

