
@model _001JIMCV.Models.Classes.Service


<table border="1" style="width:100%">
    <tr>
        <th>Type</th>
        <th>Description</th>
        <th>Price</th>
        <th>Actions</th>
    </tr>

    @foreach (_001JIMCV.Models.Classes.Service service in ViewData["Services"] as List<_001JIMCV.Models.Classes.Service>)
    {
    <tr>
        <td>@service.Pays</td>
        <td>@service.Ville</td>
        <td>@service.Date</td>
        <td>@service.Type</td>
        <td>@service.Description</td>
        <td>@service.Prix</td>
        <td style="width: 70px;">
            <form action="@Url.Action("EditService", "Service", new { id = service.Id })" method="get">
                <button type="submit">Modifier</button>
            </form>
        </td>
        <td style="width: 70px;">
            <form action="@Url.Action("DeleteService", "Service", new { id = service.Id })" method="post">
                <button type="submit">Supprimer</button>
            </form>
        </td>
    </tr>

    }
</table>
