@model _001JIMCV.ViewModels.LoginViewModel
@{
    Layout = "_LayoutJimcv";
}

@if (Model.Authentified)
{
    <h3>
        Vous êtes déjà connecté avec le compte @Model.User.Role.ToString() :
        @Model.User.Email
    </h3>
    @Html.ActionLink("Voulez-vous vous déconnecter ?", "Deconnexion")
}
else
{

    using (Html.BeginForm())
    {
      <div style="display:flex; justify-content:space-between; align-items:center; flex-direction: column">
        <div>
            <h2>
                Vous êtes déjà client de Jimcv ? Connectez vous et voyageons ensemble !
            </h2>
        </div>

        <br />

        <div>
            @Html.LabelFor(m => m.User.Email)
            <br/>
            @Html.TextBoxFor(m => m.User.Email)
            <br>
            @Html.ValidationMessageFor(m => m.User.Email)

        </div>

        <br />

        <div>
            @Html.LabelFor(m => m.User.Password)
            <br>
            @Html.PasswordFor(m => m.User.Password)
            <br>
            @Html.ValidationMessageFor(m => m.User.Password)
        </div> 

            <br />
                <input type="submit" value="Connexion" />
            <br>
     </div>

    }
}

