@{
    Layout = "_LayoutJimcv";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Italie</title>
    <link href="~/css/Site.css" rel="stylesheet" />
    <link href="~/css/FullPackage.css" rel="stylesheet" />
</head>
<body>
    <br>
    <div class="map" style="background-image: url('/images/Italie/ItalieMap01.jpg');"></div>
    <br>
    @foreach (_001JIMCV.Models.Classes.Journey journey in ViewData["ItalieJourneys"] as List<_001JIMCV.Models.Classes.Journey>)
    {
        <div class="journey-container">
            <div class="journey-photo" style="background-image: url('/images/Italie/VoyageItalie01.jpg');"></div>
            <div class="journey-content">
                <div class="journey-details">
                    <table>
                        <tr>
                            <th>Ville d'arrivée</th>
                            <th>Date de départ</th>
                            <th>Date de Retour</th>
                            <th>Prix</th>
                        </tr>
                        <tr>
                            <td>@journey.CityDestination</td>
                            <td>@journey.DepartureDate</td>
                            <td>@journey.ReturnDate</td>
                            <td>@journey.Price</td>
                        </tr>
                    </table>
                </div>
                <div class="journey-description">
                    @journey.Description
                </div>
            </div>
        </div>
    }

    <input type="date" id="date-picker">

    <script src="~/js/FullPackage.js"></script>
</body>
</html>