@model _001JIMCV.Models.Classes.Reservation
@{
    Layout = "_LayoutJimcv";
    string formAction = ViewData["FormAction"] as string;
    string formMethod = ViewData["FormMethod"] as string ?? "post";
    string submitText = ViewData["SubmitText"] as string ?? "Enregistrer";
}

@using (Html.BeginForm(formAction, "Reservation", FormMethod.Post))
{
    <fieldset>
 

        <div>
            @Html.LabelFor(m => m.ContactName, "Nom :")
            @Html.TextBoxFor(m => m.ContactName, new { @readonly = "readonly" })
            @Html.ValidationMessageFor(m => m.ContactName)
        </div>
        <br/>
        <div>
            @Html.LabelFor(m => m.ContactEmail, "Email :")
            @Html.TextBoxFor(m => m.ContactEmail, new { type = "email", @readonly = "readonly" })
            @Html.ValidationMessageFor(m => m.ContactEmail)
        </div>
        <br/>
        <div>
            @Html.LabelFor(m => m.ContactPhone, "Téléphone :")
            @Html.TextBoxFor(m => m.ContactPhone, new { type = "tel",  @readonly = "readonly" })
            @Html.ValidationMessageFor(m => m.ContactPhone)
        </div>
        <br/>
        <div>
            @Html.LabelFor(m => m.Status, "Statut :")
            @Html.TextBoxFor(m => m.Status)
            @Html.ValidationMessageFor(m => m.Status)
        </div>
  
        @Html.HiddenFor(m=>m.Id)
        @Html.HiddenFor(m=>m.ClientId)

        @Html.HiddenFor(m=>m.JourneyId)
      
     
    </fieldset>

    <input type="submit" value="@submitText" class="btn btn-primary" />
}
