@model _001JIMCV.Models.Classes.Service

@{
    string formAction = ViewData["FormAction"] as string;
    string formMethod = ViewData["FormMethod"] as string ?? "post";
    string submitText = ViewData["SubmitText"] as string ?? "Enregistrer";
}

@using (Html.BeginForm(formAction, "Service", FormMethod.Post))
{
    <!-- Vos champs de formulaire ici -->
    <div>
        @Html.LabelFor(m => m.Type)
        <div>
            <label class="form-control">
                @Html.RadioButtonFor(m => m.Type, "Hebergement")
                Hebergement
            </label>
        </div>
        <div>
            <label class="form-control">
                @Html.RadioButtonFor(m => m.Type, "Vol")
                Vol
            </label>
        </div>
        <div class="form-control">
            <label class="form-check-label">
                @Html.RadioButtonFor(m => m.Type, "Activité")
                Activité
            </label>
        </div>
        @Html.ValidationMessageFor(m => m.Type)
    </div>
    <br />
    <div class="form-control">
        @Html.LabelFor(m => m.Description)<br>
        @Html.TextAreaFor(m => m.Description)
        @Html.ValidationMessageFor(m => m.Description)
    </div>
    <div>
        @Html.LabelFor(m => m.Price)<br>
        @Html.TextBoxFor(m => m.Price)
        @Html.ValidationMessageFor(m => m.Price)<br>
    </div>
    <br>
    <div class="form-control">
        <input type="submit" value="@submitText" class="btn btn-primary" />
    </div>
}
