@model _001JIMCV.Models.Classes.Service

@{
    string formAction = ViewData["FormAction"] as string;
    string formMethod = ViewData["FormMethod"] as string ?? "post";
    string submitText = ViewData["SubmitText"] as string ?? "Enregistrer";
}

@using (Html.BeginForm(formAction, "Service", FormMethod.Post))
{
    <fieldset>
        <div>
            @Html.LabelFor(m => m.Type)
            <div class="form-control">
                @Html.LabelFor(m => m.Pays)<br>
                @Html.TextAreaFor(m => m.Pays)
                @Html.ValidationMessageFor(m => m.Pays)
            </div>
            <div class="form-control">
                <div>
                    @Html.LabelFor(m => m.Ville)<br>
                    @Html.TextBoxFor(m => m.Ville)
                    @Html.ValidationMessageFor(m => m.Ville)<br>
                </div>
            </div>
            <div class="form-control">
                @Html.LabelFor(m => m.Date)<br>
                @Html.TextBoxFor(m => m.Date, new { @type="date" })
                @Html.ValidationMessageFor(m => m.Date)
            </div>
            <div>
                <label class="form-control">
                    @Html.RadioButtonFor(m => m.Type, "Hebergement")
                    Hebergement
                </label>
            </div>
            <div>
                <label class="form-control">
                    @Html.RadioButtonFor(m => m.Type, "Vol")
                    Vol
                </label>
            </div>
            <div class="form-control">
                <label class="form-check-label">
                    @Html.RadioButtonFor(m => m.Type, "Activité")
                    Activité
                </label>
            </div>
            @Html.ValidationMessageFor(m => m.Type)
        </div>
        <br />
        <div class="form-control">
            @Html.LabelFor(m => m.Description)<br>
            @Html.TextAreaFor(m => m.Description)
            @Html.ValidationMessageFor(m => m.Description)
        </div>
        <div>
            @Html.LabelFor(m => m.Prix)<br>
            @Html.TextBoxFor(m => m.Prix)
            @Html.ValidationMessageFor(m => m.Prix)<br>
        </div>
        <br>
        <div class="form-control">
            <input type="submit" value="Enregistrer" class="btn btn-primary" />

        </div>
    </fieldset>
}