@model _001JIMCV.ViewModels.JourneyViewModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Créer un voyage</title>
</head>
<body>
    @using (Html.BeginForm())
{
    <fieldset>
        <legend>Créer un voyage : </legend>
            @Html.LabelFor(m => m.Journey.CountryDestination, "Pays : ")
            @Html.TextBoxFor(m => m.Journey.CountryDestination)
            @Html.ValidationMessageFor(m => m.Journey.CountryDestination)
        <br/>
            @Html.LabelFor(m => m.Journey.DepartureDate, "Date de départ : ")
            @Html.TextBoxFor(m => m.Journey.DepartureDate, new { @type="date"} )
            @Html.ValidationMessageFor(m => m.Journey.DepartureDate)
        <br />
            @Html.LabelFor(m => m.Journey.ReturnDate, "Date de Retour : ")
            @Html.TextBoxFor(m => m.Journey.ReturnDate, new { @type="date" } )
            @Html.ValidationMessageFor(m => m.Journey.ReturnDate)
        <br/>
        <input type="submit" value="Suivant" />
    </fieldset>
}
</body>
</html>