@model _001JIMCV.ViewModels.JourneyViewModel
@{
    Layout = "_LayoutJimcv";
}
@section ExtraCss{
    <link rel="stylesheet" type="text/css" href="~/Css/FullPackage.css" link />

}
<div class="container" style="margin: 30px 150px">
    <div style="display: flex; align-items: center">
        <div class="image-container">
            <img src="@Model.Journey.ImagePath" alt="Image du produit">
        </div>
        <div style="width:60%">
            <div class="description-section" style="padding-left : 10px">
                <h2>@Html.DisplayFor(model => model.Journey.CountryDestination) - @Html.DisplayFor(model => model.Journey.CityDestination)  </h2>
                <p>@Html.DisplayFor(model => model.Journey.Description)</p>
            </div>
        </div>
    </div>
     
    
    <div style="display:flex">
        
        <div style="width:50%">

            <div class="product-description">
                <div class="description-section">
                    <h3>Vol aller</h3>
                </div>
                <div class="ligneRouge"></div>
                <div >
                    <div class="spanProduit">
                        <strong>Compagnie aérienne : </strong> @Html.DisplayFor(model => model.DepartureFlight.Airline)
                    </div>
                    <div class="spanProduit"><strong>Ville de départ : </strong>@Html.DisplayFor(model => model.DepartureFlight.DepartureCity)</div>
                    <div class ="spanProduit"><strong>Ville d'arrivée : </strong>@Html.DisplayFor(model => model.DepartureFlight.DestinationCity)</div>
                    
                    <div class="spanProduit"><strong>Date : </strong>@Html.DisplayFor(model => model.DepartureFlight.DepartureDate)</div>
                    <div class="spanProduit"><strong>N° de vol : </strong>@Html.DisplayFor(model => model.DepartureFlight.FlightNumber)</div>
                </div><br />
                <div class="description-section">
                    <h3>Vol retour</h3>
                </div>
                <div class="ligneRouge"></div>
                <div>
                    <div class="spanProduit"><strong>Compagnie aérienne :</strong>@Html.DisplayFor(model => model.ReturnFlight.Airline)</div>
                    <div class="spanProduit"><strong>Ville de départ : </strong>@Html.DisplayFor(model => model.ReturnFlight.DepartureCity)</div>
                    <div class="spanProduit"><strong>Ville d'arrivée : </strong>@Html.DisplayFor(model => model.ReturnFlight.DestinationCity)</div>
              
                    <div class="spanProduit"><strong>Date : </strong>@Html.DisplayFor(model => model.ReturnFlight.DepartureDate)</div>
                    <div class="spanProduit"><strong>N° de vol : </strong>@Html.DisplayFor(model => model.ReturnFlight.FlightNumber)</div>
                </div>
            </div>
            <br />
   
            
            <div class="product-description">
                <div class="description-section">
                    <h3>Hébergements</h3>
                </div>
                <div class="ligneRouge"></div>
                @if(Model.Accommodations != null)
                {
                    @foreach (var accommodation in Model.Accommodations)
                    {
                            <div>
                                <span class="spanProduit">
                                    <strong>Nom : </strong>

                                    @accommodation.Name

                                </span>
                                <span class="spanProduit">
                                    <strong>Type : </strong>

                                    @accommodation.Type

                                </span>
                                <span class="spanProduit">
                                    <strong>Ville : </strong>

                                    @accommodation.City

                                </span>
                                <div class="spanProduit">
                                    <strong>Adresse : </strong>

                                    @accommodation.Adress

                                </div>
                            </div>
                            <br/>
                            <div>
                                <strong>Description : </strong>
                                @accommodation.Description
                            </div>

                            <br />

                        <div class="ligneRougeThin"></div>

                    }
                }
                
            </div>

            <br />
            <br />

        </div>

        <div style="width:50%">

            <div class="product-description">
                <div class="description-section">
                    <h3>Activités</h3>
                </div>
                <div class="ligneRouge"></div>
                @if (Model.Activities != null)
                {
                    @foreach (var activity in Model.Activities)
                    {
                        <div>
                            <span class="spanProduit">
                                <strong>Nom : </strong>

                                @activity.Name

                            </span>
                            <span class="spanProduit">
                                <strong>Ville : </strong>

                                @activity.City

                            </span>
                            <div class="spanProduit">
                                <strong>Adresse : </strong>

                                @activity.Adress

                            </div>
                        </div>
                        <br />
                        <div>
                            <strong>Description : </strong>
                            @activity.Description
                        </div>
                        <br />
                        <div class="ligneRougeThin"></div>

                    }
                }
                
            </div>
            <br />
            <br />
            <div class="product-description">
                <div class="description-section">
                    <h3>Restaurants</h3>
                </div>
                <div class="ligneRouge"></div>
                @if (Model.Restaurations != null)
                {
                    @foreach (var restaurants in Model.Restaurations)
                    {
                        <div>
                            <span class="spanProduit">
                                <strong>Nom : </strong>

                                @restaurants.Name

                            </span>
                            <span class="spanProduit">
                                <strong>Type :</strong>

                                @restaurants.Type

                            </span>
                            <span class="spanProduit">
                                <strong>Ville : </strong>

                                @restaurants.City

                            </span>
                            <div class="spanProduit">
                                <strong>Adresse : </strong>

                                @restaurants.Adress

                            </div>
                        </div>
                        <br />
                        <div>
                            <strong>Description : </strong>
                            @restaurants.Description
                        </div>
                        <br />
                        <div class="ligneRougeThin"></div>

                    }
                }
            </div>


            <br />
            <br />


        </div>

        
    </div>
    <div style="display:flex">
        <div style="width:50%">

            <button class="btnResa" onclick="window.location.href='@Url.Action("ReservationAllInclusive","Journey", new { @Id = @Model.Journey.Id })'">Réserver ce voyage</button>
        </div>
        <div style="width:50%">
            <button class="btnResa" onclick="window.location.href='@Url.Action("DisplayJourneyPerso","Journey", new { @Id = @Model.Journey.Id })'">Personnaliser votre voyage</button>
        </div>

    </div>

</div>