@{
    Layout = "_LayoutJimcv";
}

@section ExtraCss{
    <link rel="stylesheet" type="text/css" href="~/Css/StyleAdminDashboard.css" link />

}
<div class="container">


    <div class="dashboard-container">

        <div class="dashboard-item">
            <h2><button onclick="window.location.href='@Url.Action("Index", "Home")'">Accueil</button></h2>
        </div>

        <div class="dashboard-item">
            <h2><button onclick="window.location.href='@Url.Action("GetList", "Restauration")'">Restauration</button></h2>
        </div>

        <div class="dashboard-item">
            <h2><button onclick="window.location.href='@Url.Action("GetList", "Accommodation")'"> Hebergements</button></h2>
        </div>

        <div class="dashboard-item">
            <h2><button onclick="window.location.href='@Url.Action("GetList", "Activity")'">Activités</button></h2>
        </div>

        <div class="dashboard-item">
            <h2><button onclick="window.location.href='@Url.Action("GetList", "Proposition")'">Propositions</button></h2>
        </div>
        <div class="dashboard-item">
            <h2><a href=@Url.Action("GetReservations", "Reservation")>Reservations</a></h2>
        </div>

        <div class="dashboard-item">
            <h2> Avis</h2>
        </div>

         <div class="dashboard-item">
            <h2> Paiement</h2>
        </div>
    </div>

    <div id="description" class="container">

        <div style="display:flex; align-items:center; flex-direction: column; flex-basis: 150%">
            <h2>
                Remplissez votre profil cher admin !
            </h2>


        <form>
            <label for="firstname">Prénom:</label><br>
            <input type="text" id="firstname" name="firstname"><br>
            <br />
            <label for="lastname">Nom:</label><br>
            <input type="text" id="lastname" name="lastname"><br>
            <br />
            <label for="gender">Sexe:</label><br>
            <select id="gender" name="gender">
                <option value="male">Homme</option>
                <option value="female">Femme</option>
            </select><br>
            <br>
            <label for="mobile">Numéro de téléphone mobile:</label><br>
            <input type="tel" id="mobile" name="mobile"><br>
            <br>
            <label for="email">Adresse email:</label><br>
            <input type="email" id="email" name="email"><br>
            <br>
            <label for="country">Pays:</label><br>
            <input type="text" id="country" name="country"><br>
            <br />
            <label for="city">Ville:</label><br>
            <input type="text" id="city" name="city"><br>
            <br />
            <label for="travels">Voyages réalisés:</label><br>
            <textarea id="travels" name="travels"></textarea><br>
            <br />
            <input type="submit" value="Soumettre"><br>
            <br />

        </form>

    </div>

</div>