@model _001JIMCV.ViewModels.LoginViewModel
@{
    Layout = "_LayoutJimcv";

}

@section ExtraCss{
    <link rel="stylesheet" type="text/css" href="~/Css/StyleProviderDashboard.css" link />
}
 <div class="container">
    <div class="dashboard-container">

        <div class="dashboard-item">
            <h2><button onclick="window.location.href='@Url.Action("Index", "Home")'">Accueil</button></h2>
        </div>

        <div class="dashboard-item">
            <h2><button onclick="window.location.href= '@Url.Action("GetReservations","Reservation")'"> Reservations</button></h2>
        </div>

        <div class="dashboard-item">
            <h2><button onclick="window.location.href='@Url.Action("EditProfil", "Dashboard")'">Editer mon Profil</button></h2>
        </div>
    </div>

    <div id="description" class="container">

        <div style="display:flex; align-items:center; flex-direction: column; flex-basis: 150%">
            <h2>
                Remplissez votre profil pour gagner du temps sur vos prochaines réservations !
            </h2>

@using (Html.BeginForm())
{
                @Html.LabelFor(model => model.User.Name, "Nom:")
                <br />
                @Html.TextBoxFor(model => model.User.Name, new { @readonly = "readonly" })
                <br />
                <br />

                @Html.LabelFor(model => model.User.Gender, "Sexe:")
                <br />
                @Html.DropDownListFor(model => model.User.Gender, new SelectList(new[] { "Homme", "Femme" }), new { @disabled = "disabled" })
                <br />
                <br />

                @Html.LabelFor(model => model.User.Phone, "Numéro de téléphone:")
                <br />
                @Html.TextBoxFor(model => model.User.Phone, new { @readonly = "readonly" })
                <br />
                <br />

                @Html.LabelFor(model => model.User.Email, "Adresse email:")
                <br />
                @Html.TextBoxFor(model => model.User.Email, new { @readonly = "readonly" })
                <br />
                <br />

                @Html.LabelFor(model => model.User.Country, "Pays:")
                <br />
                @Html.TextBoxFor(model => model.User.Country, new { @readonly = "readonly" })
                <br />
                <br />

                @Html.LabelFor(model => model.User.City, "Ville:")
                <br />
                @Html.TextBoxFor(model => model.User.City, new { @readonly = "readonly" })
                <br />
                <br />
}

    </div>

</div>